[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ec2-user/
ExecStart=/home/ec2-user/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/DjangoCICDPipeline/cicd/cicd.sock cicd.wsgi:application

       
[Install]
WantedBy=multi-user.target